
<div class="row">
    <div class="col s12">
        <h3 class="center-align">Course Listing</h3>
    </div>
</div>

<div class="row">
    <div class="col s6 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Udemy42</span>
          <p>Complete Ruby on Rails course like no other. Grab yourself a piece before we run out of stock.</p>
        </div>
        <div class="card-action">
          <a href="#">Start now</a>
          <a href="#">Read more</a>
        </div>
      </div>
    </div>

    <div class="col s6 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Udemy84</span>
                <p>Another course for Ruby on Rails. Completely unique, unlike any other.</p>
            </div>
            <div class="card-action">
                <a href="#">Start now</a>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>

    <div class="col s6 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Rails on Uni Tech</span>
                <p>Bestseller Ruby on Rails course on Uni Tech. New York times awarded, 7 oscars nominated, Nobel prize winner.</p>
            </div>
            <div class="card-action">
                <a href="#">Start now</a>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>

</div>
