<h1>Course Listing</h1>
<ul>
    <li>Code: Udemy42</li>
    <li>Name: Udemy on Rails</li>
    <li>Description: Complete Ruby on Rails course</li>
</ul>

<ul>
    <li>Code: Udemy84</li>
    <li>Name: Rails on Udemy</li>
    <li>Description: Another course for Ruby on Rails</li>
</ul>